<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-text>
        <br>
        <br>
        <h1> Activities</h1> 
        <br>
        <p>Some of my favorite past time activities and hobbies: </p>
        <ul>
            <li>Running</li>
            <li>Biking</li>
            <li>Gaming</li>
            <li>Reading</li>
            <li>Movies</li>
          </ul>
        
  
    </ion-text>

</ion-content>
