<!--about.page.html file code for left side menu-->
<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
  </ion-buttons>
  <ion-title>About</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content padding>
    <ion-text>
        <br>
        <br>
        <h1> About me</h1> 
        <br>
        <p>Name: Teemu Korhonen</p>
        <p>Age: 22</p>
        <p>Education: Business & IT</p>
        <p>
          Qualifications:
        </p>
        <ul>
          <li>Java</li>
          <li>Javascript</li>
          <li>SQL</li>
          <li>html</li>
          <li>CSS</li>
        </ul>
        
  
    </ion-text>
  </ion-content>