<ion-tabs>
  <ion-tab label="Resume" icon="briefcase" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Project Work" icon="archive" href="/tabs/(projectwork:projectwork)">
    <ion-router-outlet name="projectwork"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="activities" icon="walk" href="/tabs/(activities:activities)">
    <ion-router-outlet name="activities"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Contact" icon="contacts" href="/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
