<!--page to showcase work projects -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Projectwork</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-list-header>Previous projects</ion-list-header>
        <ion-item>
        <ion-icon name="briefcase" slot="start"></ion-icon>
        web design project
        </ion-item>
        <ion-item>
        <ion-icon name="briefcase" slot="start"></ion-icon>
        application interface design project
        </ion-item>
        <ion-item>
        <ion-icon name="briefcase" slot="start"></ion-icon>
        programming logic project
         </ion-item>
        </ion-list>

</ion-content>
