<!--main welcome page (teemu korhonen 1700040) -->
<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
  </ion-buttons>
  <ion-title >Resume</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>

  <ion-text>
      <ion-card> <!--information spearated in to cards -->
          <ion-card-content>
              <h1><ion-icon name="book" ></ion-icon> Welcome <ion-icon name="book" ></ion-icon></h1>
            </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
              <p>This is a mobile app resume. Here are some instructions for the application. <br>
                You can navigate with the buttons found at the bottom of your screen. <br>Each separate
                button will bring you to a different page of the resume.
              </p>
            </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content> <!--descriptive knowledge about each navigation button -->
              <p>The about page goes over some basic information about myself</p>
            </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
              <p>
                The project work page showcases my previous projects. 
                Here you can view my earlier work.
              </p>
            </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
              <p>The activities page will tell you about my hobbies and favorite activities</p>
            </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
              <p>The contact page will give you my contact details</p>
            </ion-card-content>
      </ion-card>
  </ion-text>
  </ion-content>